@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  border: none;
  outline: none;
  user-select: none;
  resize: none;
}

body {
  height: 100vh;
}

/* Header */

header {
  background-color: #66666690;
  background-image: linear-gradient(to bottom, #666666ef, #eeeeeeef);
  color: #000000;
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  padding: .5rem;
  position: fixed;
  top: 0;
  z-index: 1;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;

  .headings {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
    }

    .title {
      display: flex;
      flex-direction: column;
      margin-left: .5rem;

      h3 {
        padding-left: 1rem;
      }

    }
  }

  nav>ul {
    display: flex;
    flex-direction: row;
    list-style: none;

    li {
      padding: .1rem .5rem;
      border-radius: .25rem;
      box-shadow: 3px 3px 5px #00000075,
        1px 1px 3px inset #aaaaaa;

    }

    li:nth-child(even) {
      margin: 0 .75rem;
    }

  }
}

/* Main */

main {
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;

  div {
    height: 90%;

    .title {
      margin-top: 10%;
      font-family: "Times New Roman", serif;
      text-align: center;
    }
  }

  /* Home */
  #home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .intro {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-variant: small-caps;
        font-size: 3rem;
        color: #005000;
      }

      h3 {
        color: #555555;
        font-style: 3rem;
        font-variant: small-caps;
        padding: 0 1.5rem;
        text-shadow: 1px 1px 3px #00300090;
      }

      p {
        font-family: "Times New Roman", serif;
        color: #555555;
        font-size: 1.25rem;
        font-weight: bold;
      }
    }
  }

  /* About */
  #about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    div {
      display: flex;
      flex-direction: row;
      justify-items: space-around;
      justify-content: space-around;
      align-items: center;
      width: 100vw;

      img {
        width: 10rem;
      }

      blockquote {
        font-size: 1.5rem;
        width: 50%;
      }
    }
  }

  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;

      section {
        width: 15rem;

        ul {
          display: flex;
          flex-direction: column;
          list-style: none;
          align-items: flex-end;

          li {
            display: flex;
            flex-direction: row;
            color: #005000;
            border-bottom: 1px #005000 solid;
            border-radius: .5rem;
            padding: .25rem .5rem;
            margin: .25rem 0;
            box-shadow: 0 3px 5px #00500090;
            overflow-x: hidden;
            width: 2rem;
            transition: width 0.3s ease;

            i {
              margin-right: 1.5rem;
            }
          }

          li:hover {
            width: 12rem;
          }
        }
      }

      .form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: .5rem;
        width: 75%;

        * {
          margin: .25rem 0;
        }

        label,
        textarea,
        #submit {
          border: 1px #005000 solid;
          color: #005000;
          font-size: 1rem;
          padding: 0 .25rem;
          border-radius: .25rem;
        }

        textarea,
        input {
          color: #005000;
          font-size: 1rem;
        }
      }
    }

  }

  #projects {
    display: flex;
    flex-direction: column;
    width: 100vw;

    #project-contents {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .container {
        display: flex;
        flex-direction: column;
        padding: .5rem;
        margin: .5rem;
        width: 30vw;
        overflow: hidden;

        img {
          box-shadow: 3px 3px 5px #00000090,
            3px 3px 5px inset #ffffff90;
          border-radius: .25rem;
          aspect-ratio: 16 / 9;
        }

        .name {
          justify-self: flex-end;
          align-self: flex-end;
          margin: .25rem;
          padding: .15rem;
          border-radius: .25rem;
          margin-top: -2.15rem;
          background-color: rgba(255, 255, 255, 0.3);
          backdrop-filter: blur(50px);
        }
      }
    }
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
