@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');

* {
	outline: 0;
	border: 0;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	user-select: none;
}

body {
	overflow: hidden;
	background-image: url('img/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	color: #ffffff;
	height: 100vh;
	width: 100%;
}

/* Header */

header {
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: row;
	padding: 1em;
	height: 10vh;
	border-bottom-left-radius: .5em;
	border-bottom-right-radius: .5em;
	box-shadow: 3px 0 5px #ffffff;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

header>.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
}

header>.logo>img {
	height: 3em;
	margin-right: 1em;
	border-radius: 5em;
}

header>.logo>.headings {
	display: flex;
	flex-direction: column;
}

header>.logo>.headings>h5 {
	padding-left: 1em;
}

header>nav>#nav {
	display: none;
}

header>nav>ul,
header>nav>ul>li {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

header>nav>ul>li {
	list-style: none;
}

header>nav>ul>li {
	border: 1px #ffffff solid;
	border-radius: .5em;
	padding: .5em 1em;
	cursor: pointer;
}

header>nav>ul>li:hover {
	border-color: transparent;
	background-color: #ffffff50;
	color: #ffffff;
}

header>nav>ul>li:nth-child(even) {
	margin: 0 .5em;
}

/* Main */

main {
	max-height: 80vh;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: .5em 0;
	color: wheat;
	overflow-x: hidden;
	overflow-y: scroll;
}

/* Contents */

main>.base {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 80vh;
	border-bottom: 1px #ff0090 solid;
	width: 100%;
}

main>.base:last-child {
	border: 0;
}

main>.base>h1 {
	margin-bottom: 1em;
}

/* Home */

main>#home {
	text-align: center;
}

main>#home>blockquote {
	align-self: center;
	display: flex;
	flex-direction: row;
	padding-left: 1em;
	border-left: 5px #aaaaaa solid;
	max-width: 50%;
	text-align: center;
}

main>#home>button {
	align-self: center;
	margin: .5em;
	padding: .5em 1em;
	border-radius: 5em;
	width: fit-content;
	border: 1px #0000ff solid;
	background-color: transparent;
	color: #ffffff;
	font-weight: bold;
	font-family: 'Times New Roman', Times, serif;
}

main>#home>button:hover {
	background-color: #0000ffaa;
	color: #ffffff;
}

/* About */

main>#about {
	text-align: center;
	align-items: center;
}

main>#about>.container {
	align-self: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-around;
}

main>#about>.container>div {
	max-width: 50%;
}

main>#about>.container>div>img {
	width: 15rem;
	height: 15rem;
	border-radius: 1rem;
	border: 1px #ff0090 solid;
	filter: drop-shadow(3px 3px 5px #000000);
}

main>#about>.container>.info>blockquote {
	width: 75%;
	text-align: justify;
}

@media only screen and (max-width: 768px) {
	main>#about>.container {
		flex-direction: column;
		font-size: 1rem;
	}

	main>#about>.container>.info {
		max-width: 90%;
	}

	main>#about>.container>.info>blockquote {
		max-width: 100%;
		width: 100%;
	}

	main>#about>.container>div>img {
		width: 10rem;
		height: 10rem;
	}
}

/* Contact */

main>#contact>.contact-base {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	justify-items: center;
	width: 100vw;
	border: 1px red solid;
}

main>#contact>.contact-base>* {
	max-width: 100%;
	align-self: center;
	align-items: center;
	justify-content: center;
	justify-items: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

main>#contact>.contact-base>form {
	align-items: flex-start;
	align-content: flex-start;
	width: 25vw;
}

main>#contact>.contact-base>.others {
	align-items: flex-end;
	align-content: flex-end;
	/* width: 25vw; */
}

main>#contact>.contact-base>form input,
main>#contact>.contact-base>form textarea {
	background-color: transparent;
	border: 1.5px #ff0090 solid;
	border-top: 0;
	border-radius: .5em;
	margin-top: .5em;
	padding: .25em .5em;
	resize: none;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color: #ffffff;
}

main>#contact>.contact-base>.others {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	justify-items: flex-end;
	align-self: center;
	flex-wrap: wrap;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

main>#contact>.contact-base>.others>a {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* overflow: hidden; */
	border: 1px #ff0090 solid;
	border-top: 0;
	padding: .25em .75em;
	border-radius: .75em;
	color: #ff0090;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-decoration: none;
	align-self: flex-end;
	justify-self: flex-end;
}

main>#contact>.contact-base>form input:hover,
main>#contact>.contact-base>form textarea:hover {
	/* main>#contact>.contact-base>.others>a:hover { */
	background-color: #ff0090aa;
	color: #ffffff;
	border: 1px transparent solid;
}

main>#contact>.contact-base>.others>a:nth-child(even) {
	margin: .5em 0;
}

main>#contact>.contact-base>.others>a>.content {
	display: flex;
	flex-direction: row;
}

main>#contact>.contact-base>.others>a>.content>* {
	margin: 0 .25em;
}

main>#contact>.contact-base>.others>a {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	width: 2.75rem;
}

main>#contact>.contact-base>.others>a>.content>i {
	margin: 0 .25rem;
}

main>#contact>.contact-base>.others>a>.content>span {
	display: block;
	margin-left: 1rem;
	;
}

main>#contact>.contact-base>.others>a:hover {
	width: auto;
}

@media only screen and (max-width: 768px) {
	main>#contact>.contact-base>.others {
		max-width: 90%;
	}
}

@media only screen and (max-width: 760px) {
	main>#contact>.contact-base {
		flex-direction: column;
		flex-wrap: wrap;
		justify-items: center;
		align-items: center;
		justify-content: center;
		align-content: center;
	}

	main>#contact>.contact-base>.others {
		display: flex;
		flex-direction: row;
	}

	main>#contact>.contact-base>.others>a:nth-child(even) {
		margin: 0 .25rem;
	}

	main>#contact>.contact-base>.others>a>* {
		margin: 0;
		padding: 0;
	}

	main>#contact>.contact-base>.others>a>span {
		display: none;
	}
}

/* Projects */

main>#projects>h1 {
	margin: 0;
}

main>#projects>#lists-projects {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	align-items: center;
	margin-top: 1em;
}

main>#projects>#lists-projects>.my-lists {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

main>#projects>#lists-projects>.my-lists>.myRepo {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-width: 1px;
	border-style: solid;
	box-shadow: 1px 1px 10px #ff0090ef,
		-1px -1px 5px #ff009025;
	width: 30%;
	margin: .5em;
	padding: .5em;
	border-radius: .75em;
	cursor: pointer;
	overflow: hidden;
}

main>#projects>#lists-projects>.my-lists>.myRepo:hover {
	background-color: #ff0090aa;
	color: #ffffff;
	border-width: 0;
}

main>#projects>#lists-projects>.my-lists>.myRepo>h3 {
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
	border-bottom: 1px #ffffff solid;
	width: 100%;
	overflow: hidden;
}

main>#projects>#lists-projects>.my-lists>.myRepo>h6 {
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
	margin-top: .5em;
}

main>#projects>#lists-projects>.my-lists>.myRepo>h3>.titleLanguage {
	font-size: xx-small;
}

/* Progress */

main>#progress>h1 {
	text-align: center;
}

main>#progress>#graph {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-height: 80vh;
	overflow-y: auto;
	overflow-x: auto;
}

main>#progress>#graph>span {
	display: flex;
	flex-direction: column;
	align-self: flex-end;
	text-align: center;
	max-width: 5%;
	overflow-x: hidden;
}

main>#progress>#graph>span:nth-child(even) {
	margin: 0 .5em;
}

main>#progress>#graph>span>label {
	padding: .5em 0;
	text-overflow: ellipsis;
	overflow: hidden;
}

main>#progress>#graph>span>.data-graph {
	background-color: #ff009090;
	border: 2px #ff0090 solid;
	align-self: baseline;
	border-top-left-radius: .25em;
	border-top-right-radius: .25em;
	width: 75%;
	padding: 0 1em;
	margin: 0 .15em;
	border-bottom: 0;
}

main>#progress>#graph>span>.java {
	background-color: #b0721990;
	border: 2px #b07219 solid;
}

main>#progress>#graph>span>.javascript {
	background-color: #f1e05a90;
	border: 2px #f1e05a solid;
}

main>#progress>#graph>span>.python {
	background-color: #3572a590;
	border: 2px #3572a5 solid;
}

main>#progress>#graph>span>.cs {
	background-color: #17860090;
	border: 2px #178600 solid;
}

main>#progress>#graph>span>.kotlin {
	background-color: #a97bff90;
	border: 2px #a97bff solid;
}

main>#progress>#graph>span>.css {
	background-color: #563d7c90;
	border: 2px #563d7c solid;
}

main>#progress>#graph>span>.html {
	background-color: #e34c2690;
	border: 2px #e34c26 solid;
}

main>#progress>#graph>span>.jupyter-notebook {
	background-color: #da5b0b90;
	border: 2px #da5b0b solid;
}

main>#progress>#graph>span>.php {
	background-color: #da5b0b90;
	border: 2px #da5b0b solid;
}

main>#progress>#graph>span>.julia {
	background-color: #a270ba90;
	border: 2px #a270ba solid;
}

main>#progress>#graph>span>.cpp {
	background-color: #f34b7d90;
	border: 2px #f34b7d solid;
}

main>#progress>#graph>span>.typescript {
	background-color: #3178c690;
	border: 2px #3178c6 solid;
}

/* Footer */

footer {
	height: 8vh;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 1em;
	border-top-left-radius: .5em;
	border-top-right-radius: .5em;
	box-shadow: -3px 0 5px #ffffff;
	overflow: hidden;
	border-bottom: 0;
	position: sticky;
	bottom: 0;
}

/* Scrollbars */

::-webkit-scrollbar {
	background-color: transparent;
	border-radius: 5em;
	width: .5em;
	margin-right: 0.5em;
}

::-webkit-scrollbar-thumb {
	border: 2px #0000ff solid;
	background-color: #0000ff50;
	border-radius: 5em;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #0000ff;
	border: 0;
}

main>#projects>#lists-projects::-webkit-scrollbar {
	width: 0;
}

/* Languages Hover */

main>#projects>#lists-projects>.my-lists>.java:hover {
	background-color: #ffaa0075;
	box-shadow: 0 0 5px #ffaa0075;
	color: #ffffff;
}

main>#projects>#lists-projects>.my-lists>.javascript:hover {
	background-color: #ffff0075;
	box-shadow: 0 0 5px #ffff0075;
	color: #ffffff;
}

main>#projects>#lists-projects>.my-lists>.python:hover {
	background-color: #0000ff75;
	box-shadow: 0 0 5px #0000ff75;
	color: #ffffff;
}

main>#projects>#lists-projects>.my-lists>.cs:hover {
	background-color: #00500075;
	box-shadow: 0 0 5px #00500075;
	color: #ffffff;
}

main>#projects>#lists-projects>.my-lists>.kotlin:hover {
	background-color: #ff009075;
	box-shadow: 0 0 5px #ff009075;
	color: #ffffff;
}

main>#projects>#lists-projects>.my-lists>.css:hover {
	background-color: #ff00ff75;
	box-shadow: 0 0 5px #ff00ff75;
	color: #ffffff;
}

main>#projects>#lists-projects>.my-lists>.html:hover {
	background-color: #ff000075;
	box-shadow: 0 0 5px #ff000075;
	color: #ffffff;
}

main>#projects>#lists-projects>.my-lists>.jupyter-notebook:hover {
	background-color: #ffaa0075;
	box-shadow: 0 0 5px #ffaa0075;
	color: #ffffff;
}

/* Nav */

@media only screen and (max-width: 1000px) {
	header>nav>#nav {
		display: flex;
	}

	header>nav>ul {
		display: none;
		position: absolute;
		right: .5em;
		top: .5em;
		width: 15%;
		background-color: #000090aa;
		flex-direction: row;
		justify-content: center;
		padding: 1em;
		border: 1px #000000 solid;
	}

	header>nav>ul>li {
		border-radius: 0;
		border: 0;
		border-bottom: 1px #000000 solid;
	}

	header>nav>ul>li:last-child {
		border-bottom: 0;
	}

	header>nav>ul>li:nth-child(even) {
		margin: 0;
	}

	header>nav>ul>li:hover {
		background-color: #0000aa;
		color: #ffffff;
	}

	main>#progress>#graph>span>.data-graph {
		margin: 0 0.1em;
		width: 5%;
	}
}
