@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  border: none;
  outline: none;
  user-select: none;
  resize: none;
}

body {
  background-color: #1b263b;
  color: #e0e1dd;
}

#moving-randoms {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}

/* Header */

main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  position: absolute;
  z-index: 1;

  > header {
    background-color: #66666690;
    background-image: linear-gradient(to bottom, #011627ef, #1b263bef);
    color: #ffffff;
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    position: sticky;
    top: 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0 0 3px #e0e1dd;
    z-index: 1;

    .headings {
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
      }

      .title {
        display: flex;
        flex-direction: column;
        margin-left: 0.5rem;

        h3 {
          padding-left: 1rem;
        }
      }
    }

    nav {
      span {
        display: none;
        padding: 0.1rem 0.5rem;
        border-radius: 0.25rem;
        box-shadow: 1px 5px #415a77;
      }

      ul {
        display: flex;
        flex-direction: row;
        list-style: none;

        li {
          padding: 0.1rem 0.5rem;
          border-radius: 0.25rem;
          box-shadow: 0 1px 5px #415a77;
        }

        li:nth-child(even) {
          margin: 0 0.75rem;
        }
      }
    }
  }

  > div {
    height: 100vh;
    box-sizing: border-box;

    .title {
      margin-top: 10%;
      font-family: "Times New Roman", serif;
      text-align: center;
    }
  }

  /* Home */
  #home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .intro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      padding-left: 3rem;

      * {
        /* border: 1px red solid; */
        /* height: 100%; */
        max-width: 75%;
      }

      h1 {
        font-variant: small-caps;
        font-size: 5rem;
        color: #e0e1dd;
      }

      h3 {
        color: #778da9;
        font-size: 3rem;
        font-variant: small-caps;
        padding: 0 1.5rem;
        text-shadow: 1px 1px 3px #00300090;
        text-align: left;
      }

      p {
        font-family: "Times New Roman", serif;
        color: #778da9;
        font-size: 2rem;
        font-weight: bold;
        padding-top: 2rem;
      }
    }
  }

  /* About */
  #about {
    background-color: #f1faff;
    background-image: url("assets/background/coding-background.jpg");
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    h1 {
      background-color: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(10px);
    }

    div {
      display: flex;
      flex-direction: row;
      justify-items: space-around;
      justify-content: space-around;
      align-items: center;
      margin: 0 1rem;
      border-radius: 0.5rem;
      background-color: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(10px);

      img {
        aspect-ratio: 1 / 1;
        width: 15rem;
      }

      blockquote {
        font-size: 1.5rem;
        width: 50%;
      }
    }
  }

  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      section {
        width: 25rem;

        ul {
          display: flex;
          flex-direction: column;
          list-style: none;
          align-items: flex-end;

          li {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            color: #778da9;
            border-bottom: 1px #778da9 solid;
            border-radius: 0.5rem;
            padding: 0.25rem 0.5rem;
            margin: 0.25rem 0;
            box-shadow: 0 3px 5px #00500090;
            overflow-x: hidden;
            /* width: 2.5rem; */
            transition:
              width 0.5s ease,
              color 1.5s ease,
              box-shadow 1.5s ease;

            i::before {
              justify-self: center;
              /* margin-right: 1.25rem; */
            }
            i {
              width: 1.25rem;
            }

            label {
              width: 0;
              color: transparent;
              transition:
                width 1.5s ease,
                color 1.5s ease;
            }
          }

          #facebook {
            color: #4267b2;
            border-color: #4267b2;
            box-shadow: 0 3px 5px #4267b2;
          }

          #github {
            color: #778da9;
            border-color: #778da9;
            box-shadow: 0 3px 5px #778da9;
          }

          #stackoverflow {
            color: #f48024;
            border-color: #f48024;
            box-shadow: 0 3px 5px #f48024;
          }

          #linkedin {
            color: #0e76a8;
            border-color: #0e76a8;
            box-shadow: 0 3px 5px #0e76a8;
          }

          #discord {
            color: #7289d9;
            border-color: #7289d9;
            box-shadow: 0 3px 5px #7289d9;
          }

          #facebook:hover,
          #github:hover,
          #stackoverflow:hover,
          #linkedin:hover,
          #discord:hover {
            border-color: #e0e1dd;
            box-shadow: 0 3px 5px #e0e1dd;
            color: #e0e1dd;
          }

          #facebook:hover label,
          #github:hover label,
          #stackoverflow:hover label,
          #linkedin:hover label,
          #discord:hover label {
            color: #e0e1dd;
            width: auto;
            padding: 0 0.25rem;
          }
        }
      }

      .form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: 0.5rem;
        width: 80%;
        box-sizing: border-box;

        * {
          margin: 0.25rem 0;
        }

        label,
        textarea,
        #submit {
          border: 1px #e0e1dd solid;
          color: #e0e1dd;
          font-size: 1rem;
          padding: 0 0.25rem;
          border-radius: 0.25rem;
          width: 100%;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
        }

        textarea,
        input {
          background-color: transparent;
          color: #e0e1dd;
          font-size: 1rem;
        }
        i {
          padding-right: 0.5rem;
        }
      }
    }
  }

  #projects {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
      background-color: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(10px);
    }

    #project-contents {
      display: grid;
      grid-template-columns: 30vw 30vw 30vw;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(1px);

      .container {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        margin: 0.5rem;
        width: 30vw;
        overflow: hidden;

        img {
          box-shadow:
            3px 3px 5px #00000090,
            3px 3px 5px inset #ffffff90;
          border-radius: 0.25rem;
          aspect-ratio: 16 / 9;
        }

        .name {
          justify-self: flex-end;
          align-self: flex-end;
          margin: 0.25rem;
          padding: 0.15rem;
          border-radius: 0.25rem;
          margin-top: -2.15rem;
          background-color: rgba(255, 255, 255, 0.3);
          backdrop-filter: blur(50px);
          color: #000000;
          font-size: 1rem;
        }
      }
    }
  }

  > footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5rem;
  }
}

@media only screen and (max-width: 800px) {
  main {
    header {
      flex-direction: column;
      /* align-items: flex-start; */
      width: 100vw;
      box-sizing: border-box;

      .headings {
        align-self: flex-start;
        .title {
          font-size: 0.5rem;
        }
      }

      nav {
        span {
          display: none;
          margin: 1rem;
        }

        ul {
          display: flex;
          padding: 0.5rem;
          justify-content: space-around;
          box-sizing: border-box;
          font-size: 0.75rem;

          li {
            margin: 0 2rem;
          }
        }
      }
    }
    #home {
      max-width: 100vw;
      width: 100vw;
      margin: 0;
      padding: 0;

      .intro {
        justify-items: center;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        h1 {
          margin: 0;
          padding: 0;
          text-align: center;
          font-size: 3rem;
        }
        h3 {
          padding: 0;
          margin: 0;
          font-size: 2rem;
        }
        p {
          padding: 0;
          margin: 0;
          font-size: 1rem;
          align-self: center;
          text-align: center;
        }
      }
      img {
        display: none;
      }
    }

    #about {
      div {
        flex-direction: column;
        img {
          width: 7rem;
        }
        blockquote {
          font-size: 1rem;
        }
      }
    }

    #contact {
      div {
        flex-direction: column;
        align-items: center;

        section {
          ul {
            flex-direction: row;
            justify-content: center;
            padding: 0.75rem 0;

            li {
              align-items: center;
              margin: 0 0.5rem;
              justify-content: center;

              i,
              i::before {
                margin: 0;
                padding: 0;
                text-align: center;
              }

              label {
                padding: 0;
                margin: 0;
                display: none;
              }
            }
          }

          li:hover label {
            display: none;
            width: 0;
          }
        }
        form {
          align-items: center;
          width: 80%;
        }
      }
    }
  }
}
