:root {
  --background: #31363f;
  --color: #ffffff;
  --background-nav: #76abae;
  --shadow-color: #111420;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  user-select: none;
}

body {
  background-color: var(--background);
  color: var(--color);

  > .main-container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 4rem);

    > * {
      margin: 0.5rem;
      border-radius: 0.5rem;
      box-shadow: 3px 3px 8px var(--shadow-color);
      padding: 0.25rem;
      height: calc(100% - 1rem);
    }

    > aside {
      width: 25vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: space-evenly;

      > div {
        display: flex;
        flex-direction: column;
        align-items: center;

        > img {
          margin: 1rem;
          aspect-ratio: 1 / 1;
          height: 10rem;
          border-radius: 0.5rem;
        }
      }
    }

    > section {
      width: 100%;
      display: flex;
      flex-direction: column;

      > header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        > h1 {
          padding: 0 1rem;
        }

        > nav {
          background-color: var(--background-nav);
          border-radius: 0.25rem 0.5rem 0 0.25rem;

          > ul {
            display: flex;
            flex-direction: row;

            > li {
              list-style: none;
              padding: 0.5rem 0.75rem;
              cursor: pointer;
              transition: background-color 1s;
              margin-top: 0.25rem !important;
            }

            > li:first-child {
              margin-left: 0.5rem;
            }

            > li:last-child {
              margin-right: 0.5rem;
            }

            > li:nth-child(even) {
              margin: 0 0.5rem;
            }

            > .active {
              border-radius: 0.25rem 0.25rem 0 0;
              background-color: var(--background);
              transition: background-color 1s;
            }
          }
        }
      }

      > main {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
        position: relative;

        > .z {
          position: absolute;
          right: -100%;
          transition: 1s;
          width: 100%;
          height: 100%;
          opacity: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        .ui {
          opacity: 1;
          right: 0;
        }

        > #home {
          h1 {
            font-size: xx-large;
          }
        }
        > #experience {
          > div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow-y: scroll;
            width: 100%;

            > span {
              width: 50%;
              border: 1px red solid;
              position: absolute;
            }

            > span:nth-child(odd) {
              text-align: right;
              border-right: 5px solid white;
              padding-right: 0.25rem;
              left: 0;

              h3:after {
                padding-left: 0.25rem;
                content: "•";
                text-align: right;
              }
              h6 {
                margin-right: 1rem;
              }
            }

            > span:nth-child(even) {
              text-align: left;
              border-left: 5px solid white;
              padding-left: 0.25rem;
              right: 0;

              h3:before {
                padding-right: 0.25rem;
                content: "•";
                text-align: left;
              }
              h6 {
                margin-left: 1rem;
              }
            }
          }
        }
        #projects {
          display: grid;
          grid-template-columns: auto auto auto;
        }
      }
    }
  }

  > footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 2rem;
    margin: 0.5rem;
    box-shadow: 3px 3px 8px var(--shadow-color);
    border-radius: 0.5rem;
  }
}
