@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=League+Spartan:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap");

* {
  outline: none;
}

.main-layout {
  display: grid;
  grid-template-areas:
    "left right"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 9fr 1fr;
}

.left {
  grid-area: left;
}
.right {
  grid-area: right;
}
.footer {
  grid-area: footer;
}

.custom-shadow {
  border-top: 1px rgba(10, 10, 10, 0.5) solid;
  border-left: 1px rgba(10, 10, 10, 0.5) solid;
  box-shadow: 3px 3px 0.75rem rgba(0, 0, 0, 0.5);
}

.roboto-slab {
  font-family: "Roboto-Slab", serif;
  font-weight: bold;
  font-style: normal;
  font-optical-sizing: auto;
}

.spartan {
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-optical-sizing: auto;
}

.courier-prime {
  font-family: "Courier-Prime", monospace;
  font-weight: bold;
  font-style: normal;
  font-optical-sizing: auto;
}

.underlined {
  transition: color 0.5s;
}

.underlined::after {
  background-color: white;
  content: "";
  display: block;
  width: 0;
  height: 2px;
  transition: width 0.5s;
  color: white;
}

.active {
  color: white;
}

.active:after {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .main-layout {
    display: grid;
    grid-template-areas:
      "left"
      "right"
      "footer";
    grid-template-rows: 1fr 7fr 1fr;
    grid-template-columns: auto;
  }
}
