@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css");
@import "tailwindcss";

@font-face {
	font-family: "baybayin";
	src: url("/bicol-express-font/baybayin.ttf");
}

.baybayin-font {
	font-family: "baybayin", sans-serif;
}
