@tailwind base;
@tailwind components;
@tailwind utilities;

.link-animation::after {
  background-color: #333333;
  content: "";
  display: block;
  height: 5px;
  width: 0;
  transition: width 0.2s ease;
}

.link-animation-hover::after {
  width: 100%;
}

.custom-input {
  position: relative;
  border: 1px black solid;
  padding: 0.5rem;
  backdrop-filter: blur(40px);
  box-sizing: border-box;
  user-select: none;

  > span {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    z-index: 1;
    user-select: none;
    padding: 0 0.25rem;
    transition:
      transform 0.2s ease,
      color 0.2s ease,
      backdrop-filter 0.75s ease;
    transform: translateY(0) scale(1);
  }

  > input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;

    &:focus {
      ~ span {
        backdrop-filter: blur(40px);
        transform: translateY(-90%) scale(0.75);
      }
    }

    &:not(:placeholder-shown) {
      ~ span {
        backdrop-filter: blur(40px);
        transform: translateY(-90%) scale(0.75);
      }
    }
  }
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb: white;
}
